# SPDX-License-Identifier: MIT

if SHIELD_PALOMITA_LEFT

config ZMK_KEYBOARD_NAME
    default "Palomita"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PALOMITA_LEFT || SHIELD_PALOMITA_RIGHT

config ZMK_SPLIT
    default y

endif
