# Copyright (c) 2020 Pete Johanson, Kurtis Lew
# SPDX-License-Identifier: MIT

if SHIELD_HANDWIRE27_LEFT

config ZMK_KEYBOARD_NAME
    default "Handwire27"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HANDWIRE27_LEFT || SHIELD_HANDWIRE27_RIGHT

config ZMK_SPLIT
    default y

endif