/*
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        lt_spc: layer_tap_space {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            retro-tap;
            bindings = <&mo>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&kp ESC>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
&kp GRAVE  &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                    &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS  &kp EQUAL
&kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T                     &kp Y      &kp U      &kp I      &kp O      &kp P      &kp LBKT   &kp RBKT
&kp LSHFT  &kp A      &kp S      &kp D      &kp F      &kp G                     &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT    &kp RSHFT
&kp BSLH   &kp Z      &kp X      &kp C      &kp V      &kp B                     &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp UP
&kp LCTRL  &kp LALT   &kp LGUI   &lt_spc 1 RET                                  &lt_spc 1 SPACE  &kp BSPC   &kp LEFT   &kp DOWN   &kp RIGHT
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
&trans     &trans     &trans     &trans     &trans     &trans                    &trans     &trans     &trans     &trans     &trans     &trans     &trans
&kp TILDE  &kp EXCL   &kp AT     &kp HASH   &kp DOLLAR &kp PRCNT                 &kp CARET  &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR   &kp UNDER  &kp PLUS
&kp GRAVE  &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                    &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS  &kp EQUAL
&trans     &trans     &trans     &trans     &trans     &trans                    &trans     &trans     &trans     &trans     &trans     &trans
&trans     &trans     &trans     &trans                                         &trans     &trans     &trans     &trans     &trans
            >;
        };
    };
};
