# SPDX-License-Identifier: MIT

if SHIELD_OSITO_LEFT

config ZMK_KEYBOARD_NAME
    default "Osito"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_OSITO_LEFT || SHIELD_OSITO_RIGHT

config ZMK_SPLIT
    default y

endif
